if SHIELD_QUEFRENCY_NHANLE_LEFT

config ZMK_KEYBOARD_NAME
    default "QuefrencyNL"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_QUEFRENCY_NHANLE_LEFT || SHIELD_QUEFRENCY_NHANLE_RIGHT

config ZMK_SPLIT
    default y

endif
